<a href="https://colab.research.google.com/github/aloneking004/PKS/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=input("enter num1")
num2=input("enter num2")
sum=int(num)+int(num2)
print("Sum of Number{0}".format(sum))

enter num15
enter num25
Sum of Number10

In [ ]:
string="qwerty     uiopasdf         "
print(string.count("qwer"))
print(string.isalpha())
print(string.isalnum())
print(string.upper())
print(string.lower())
print(string.strip())

1
False
False
QWERTY     UIOPASDF
qwerty     uiopasdf
qwerty     uiopasdf

In [ ]:
li=[1,2,3,4,5]
li2=[2,3,4,5,6,7]
li.extend(li2)
print(li)
li.insert(5,140)
print(li)
print(li.pop())

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 140, 2, 3, 4, 5, 6, 7]
7

In [ ]:
num1=int(input())
num2=int(input())
opr=input()
if(opr=='+'):
  print(num1+num2)
elif(opr=='-'):
  print(num1-num2)
elif(opr=='*'):
  print(num1*num2)
else:
  print(num1//num2)

5
10
*
50

In [ ]:
num=int(input())
print('even : ',end=" ")
for i in range(1,num+1):
  if(i%2==0):
    print(i,end=" ")
print(" ")
print('odd : ',end=" ")
for i in range(num):
  if(i%2!=0):
    print(i,end=" ")

10
even :  2 4 6 8 10
odd :  1 3 5 7 9

In [ ]:
n=int(input())
count=0
while(n!=0):
  n=n//10
  count=count+1
print(count)

12345
5

In [ ]:
n=int(input())
x=0
while(n!=0):
  x=(x*10)+n%10
  n=n//10
print(x,end=" ")

12345
54321

In [ ]:
def func(no):
  x=0
  sum=0
  while(no!=0):
    x=no%10;
    sum=sum+x;
    no=no//10
  return sum
n=int(input())
mm=func(n)
while(mm>10):
    mm=func(mm)
print(func(mm))

98765987659
7

In [ ]:
import math
n=int(input())
prime=True
for i in range(2,int(math.sqrt(n))+1):
  if(n%i==0):
    prime=False
print("prime") if prime else print("not prime")

1000000000000007
not prime

In [ ]:
n=input()
string=""
for i in n:
  if(i.isalpha()):
    string+=i
x=len(string)
for i in n:
  if(not i.isalpha()):
    print(i,end="")
  else:
    print(string[x-1],end="")
    x-=1

12abc12zyxg
12gxy12zcba

In [ ]:
list=input().split()
# max=list[0]
# for i in list:
#   if i>max:
#     max=i
# print(max)
list.sort()
x=len(list)
print(list[x-1])

1 2 4
4

In [ ]:
n=int(input())
if n>=90:
  print("A")
elif n>=80:
  print("B")
elif n>=70:
  print("C")
elif n>=60:
  print("D")
else:
  print("F")

65
D

In [ ]:
hr=int(input())
if(hr==0):
  print("Good Morning,it is 12 A.M")
if(hr==12):
  print("Good Morning,it is 12 P.M")
if(hr>12):
  if(hr>=21):
    print(f"Good Night,it is {hr-12} P.M")
  elif(hr>=16):
    print(f"Good Evening,it is {hr-12} P.M")
  else:
    print(f"Good Afternoon,it is {hr-12} P.M")
elif(hr<12):
  print(f"Good Morning,it is {hr} A.M")

1
Good Morning,it is 1 A.M

In [ ]:
class Sum:
  a=""
  b=0
obj=Sum()
obj.a=input()
obj.b=int(input())
print("MY name is{0}and year is{1}.".format(obj.a,obj.b-200))

Bharath
2004
MY name isBharathand year is1804.

Single Inheritance

In [ ]:
class Parent:
  def car(self):
    print("BMW")
  def tv(self):
    print("LG")
class Child(Parent):
  def Mobile(self):
    print("Vivo")
  def Lap(self):
    print("Hp")
obj1=Parent()
obj2=Child()
obj1.car()
obj1.tv()
obj2.Lap()
obj2.Mobile()
obj2.car()
obj2.tv()

BMW
LG
Hp
Vivo
BMW
LG

Multilevel Inheritance

In [ ]:
class Grand_parent:
  def land(self):
    print("Resort")
class Parent(Grand_parent):
  def car(self):
    print("BMW")
  def tv(self):
    print("LG")
class Child(Parent):
  def Mobile(self):
    print("Vivo")
  def Lap(self):
    print("Hp")
obj=Grand_parent()
obj1=Parent()
obj2=Child()
obj.land()
obj1.car()
obj1.tv()
obj2.Lap()
obj2.Mobile()
obj2.car()
obj2.tv()
obj2.land()

Resort
BMW
LG
Hp
Vivo
BMW
LG
Resort

Hirerarical Inheritance

In [ ]:
class Parent():
  def car(self):
    print("BMW")
  def tv(self):
    print("LG")
class Brother(Parent):
  def bike(self):
    print("NS200")
  def watch(self):
    print("Titan")
class Sister(Parent):
  def mobile(self):
    print("Vivo")
  def lap(self):
    print("Hp")
obj1=Parent()
obj2=Brother()
obj3=Sister()
obj1.car()
obj1.tv()
obj2.bike()
obj2.watch()
obj3.mobile()
obj3.lap()
obj2.tv()
obj3.tv()

BMW
LG
NS200
Titan
Vivo
Hp
LG
LG

Multiple Inheritance

In [ ]:
class Dad():
  def car(self):
    print("BMW")
  def tv(self):
    print("LG")
class Mom():
  def food(self):
    print("Pizza")
class Son(Dad,Mom):
  def bike(self):
    print("NS200")
  def watch(self):
    print("Titan")
obj1=Dad()
obj2=Mom()
obj3=Son()
obj1.car()
obj1.tv()
obj2.food()
obj3.bike()
obj3.watch()
obj3.tv()
obj3.food()

BMW
LG
Pizza
NS200
Titan
LG
Pizza

Hybrid Inheritance

In [ ]:
class Parent():
  def land(self):
    print("Resort")
class Parent1(Parent):
  def car(self):
    print("BMW")
class Parent2(Parent):
  def tv(self):
    print("LG")
class Child(Parent1,Parent2):
  def toy(self):
    print("Ps5")
obj1=Parent()
obj2=Parent1()
obj3=Parent2()
obj4=Child()
obj4.land()
obj4.car()
obj4.tv()

Resort
BMW
LG

In [ ]:
balance=int(input())
minus=int(input())
if(minus%5==0):
  sum=balance-minus
  remain=sum-0.50
  if(remain>=0):
    print(f"Remaining Balance : ${remain:.2f}")
  else:
    print(f"insufficient Balance : ${balance:.2f}")

100
40
Remaining Balance : $59.50

In [ ]:
x=int(input())
mul=1
for i in range(1,x+1):
  mul=mul*i;
print(mul)

5
120

In [ ]:
age=int(input())
amount=15
if(age<12):
  amount=8
elif(age>=60):
  amount=10
print(f"${amount}")

5
$8

In [ ]:
kg=int(input())
m=float(input())
bmi=kg/(m*m)
string=""
if(bmi>=30):
  string="Obese"
elif(bmi>=25):
  string="Overweight"
elif(bmi>=18.5):
  string="Normal weight"
else:
  string="Underweight"
print(f"BMI:{bmi:.2f} \nCategory: {string}")

70
1.75
BMI:22.86
Category: Normal weight

In [ ]:
n=int(input())
for i in range(n):
  for j in  range(n):
    print("*",end=" ")
  print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in  range(i+1):
    print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [2]:
string=input()
n=int(string)
temp=n
x=0
arm=0
l=len(string)
while(n!=0):
    x=(n%10)
    arm=(x**l)+arm
    n//=10
if(arm==temp):
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

143
Not an Armstrong Number